Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

fix: include analyze_snapshot in mac engine artifacts
  build/archives/BUILD.gn
Labels: none

fix: include analyze_snapshot in mac engine artifacts (#90)
  build/archives/BUILD.gn
Labels: none

chore: bump updater rev
  DEPS
Labels: none

Cast ::GetLastError to int (#57113)
  shell/platform/windows/platform_handler.cc
Labels: affects: desktop, platform-windows

Build with Updater lib on Windows
  shell/common/shorebird/BUILD.gn
Labels: none

Formatting
  shell/common/shorebird/BUILD.gn
Labels: none

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/windows/platform_handler.cc
  shell/testing/BUILD.gn
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: affects: desktop, platform-android, platform-ios, platform-macos, platform-windows

fix: remove flutter/fml/size include
  shell/common/shorebird/shorebird.cc
Labels: none

fix: use shorebird buildroot
  DEPS
Labels: none

fix: generate analyze snapshot for arm builds
  lib/snapshot/BUILD.gn
Labels: none

formatting
  lib/snapshot/BUILD.gn
Labels: none

fix: update how we generate analyze_snapshot
  lib/snapshot/BUILD.gn
Labels: none

formatting
  lib/snapshot/BUILD.gn
Labels: none

fix: update how we generate analyze_snapshot (#92)
  lib/snapshot/BUILD.gn
Labels: none

feat: build windows
  shell/common/shorebird/BUILD.gn
Labels: none

formatting
  shell/common/shorebird/BUILD.gn
Labels: none

fix: generate analyze snapshot for arm builds
  lib/snapshot/BUILD.gn
Labels: none

fix: update how we generate analyze_snapshot (#92)
  lib/snapshot/BUILD.gn
Labels: none

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/windows/platform_handler.cc
  shell/testing/BUILD.gn
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: affects: desktop, platform-android, platform-ios, platform-macos, platform-windows

fix: remove flutter/fml/size include
  shell/common/shorebird/shorebird.cc
Labels: none

formatting
  lib/snapshot/BUILD.gn
Labels: none

fix: use shorebird buildroot
  DEPS
Labels: none

build windows
  shell/common/shorebird/BUILD.gn
Labels: none

chore: bump updater rev
  DEPS
Labels: none

Windows Support
  shell/common/shorebird/shorebird.cc
  shell/platform/embedder/embedder.cc
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Format
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Make patching work
  shell/common/shell.cc
  shell/common/shorebird/shorebird.cc
  shell/platform/embedder/embedder.cc
  shell/platform/windows/flutter_project_bundle.cc
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/flutter_project_bundle.cc
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/flutter_project_bundle.cc
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

chore: roll updater to `54e1e2ce2f82e5fe004bd0730c00d4310ab637dc` (re-export shorebird_check_for_update)
  DEPS
Labels: none

chore: export `shorebird_check_for_update` for android
  shell/platform/android/android_exports.lst
Labels: platform-android

Improve windows
  shell/common/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/embedder/embedder.cc
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
Labels: none

Formatting
  shell/common/shorebird/shorebird.h
Labels: none

Formatting
  shell/common/shorebird/shorebird.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Revert unneeded changes
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_project_bundle.cc
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Revert changes
  shell/common/shorebird/shorebird.cc
Labels: none

Bump updater rev
  DEPS
Labels: none

Remove prints
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*
