Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*

Bump build_root dep
  DEPS
Labels: none

fix: remove flutter/fml/size include
  shell/common/shorebird/shorebird.cc
Labels: none

fix: use shorebird buildroot
  DEPS
Labels: none

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/windows/platform_handler.cc
  shell/testing/BUILD.gn
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: affects: desktop, platform-android, platform-ios, platform-macos, platform-windows

fix: generate analyze snapshot for arm builds
  lib/snapshot/BUILD.gn
Labels: none

chore: roll updater to `54e1e2ce2f82e5fe004bd0730c00d4310ab637dc` (re-export shorebird_check_for_update)
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

Expose updater symbols in flutter_windows.dll (#100)
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows.dll.def
Labels: affects: desktop, platform-windows

Add Shorebird support for x64 Linux targets (#97)
  common/config.gni
  shell/common/BUILD.gn
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

chore: export `shorebird_check_for_update` for android
  shell/platform/android/android_exports.lst
Labels: platform-android

fix: fix flutter_tester build
  shell/common/BUILD.gn
  shell/common/shorebird/BUILD.gn
Labels: none

Move updater from `third_party` to `flutter/third_party` (#98)
  DEPS
  shell/common/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

chore: formatting
  shell/common/BUILD.gn
Labels: none

Windows build (#94)
  DEPS
  common/config.gni
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/embedder/embedder.cc
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

feat: use windows method for loading patches on intel macs (#96)
  DEPS
  common/config.gni
  runtime/dart_snapshot.cc
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

fix: update how we generate analyze_snapshot (#92)
  lib/snapshot/BUILD.gn
Labels: none

chore: roll Dart to 3.6.1
  DEPS
Labels: none

chore: bump updater rev
  DEPS
Labels: none

Bump updater rev
  DEPS
Labels: none

Bump build_root dep
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

formatting
  lib/snapshot/BUILD.gn
Labels: none

chore: Update engine DEPS for 3.27.4
  DEPS
Labels: none

include analyze_snapshot in ios artifacts
  sky/tools/create_ios_framework.py
Labels: none

include analyze_snapshot in ios artifacts (#101)
  sky/tools/create_ios_framework.py
Labels: none

bump updaer rev
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll Dart to ddb0f3b6c38b1774a3413c2c159b124be6bd1df7 (fix op detection + padding)
  DEPS
Labels: none

Bump updater rev
  DEPS
Labels: none

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  common/config.gni
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_engine.cc
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows.dll.def
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/platform_handler.cc
  shell/testing/BUILD.gn
  sky/tools/create_full_ios_framework.py
  sky/tools/create_ios_framework.py
  testing/run_tests.py
Labels: affects: desktop, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

Bump updater rev to eeec42efb748e21837d88f034bca2cb053f80eb0 (latest, at the time of writing)
  DEPS
Labels: none

Cherry-pick: fix: use of FlutterEngineGroup breaks patching (#101)
  shell/common/shorebird/shorebird.cc
Labels: none

Cherry-pick: chore: add a C++ interface onto the updater (#102)
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/updater.cc
  shell/common/shorebird/updater.h
  shell/common/shorebird/updater_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/flutter_main.cc
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

Cherry-pick: fix: start/success reporting (#103)
  shell/common/shell_unittests.cc
  shell/common/shorebird/updater_unittests.cc
Labels: none

Cherry-pick: fix: only call shorebird_report_start once (#105)
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/common/shorebird/updater.cc
  shell/common/shorebird/updater.h
  shell/common/shorebird/updater_unittests.cc
Labels: none

Add ReportLaunchStart() call to dart_snapshot.cc
  runtime/dart_snapshot.cc
Labels: none

fix: add missing shorebird:updater dep to runtime BUILD.gn
  runtime/BUILD.gn
Labels: none

fix: pin updater to 08fb9df to avoid unstable Rust feature
  DEPS
Labels: none
