Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

chore: roll dart to feb840571776e4387b1f6cf558d106e6fc4f739a
  DEPS
Labels: none

chore: roll dart to c3ce7094705ca64d573cea48966214f15f91479f
  DEPS
Labels: none

Roll dart to e743e66a09fde2a7922ac56519155d2a562a5cc9
  DEPS
Labels: none

chore: roll dart to a043f468303266c8bc000714a7b6ac9241ce4e1a
  DEPS
Labels: none

chore: roll dart to 86be823f26b7b6a680be43e8a6f96eac3af32e56
  DEPS
Labels: none

chore: roll dart to 041c44649d5d43de8fa01a8d17539d84be69634d
  DEPS
Labels: none

chore: roll Dart to 273ead4b4d55cbf06b7447ef951b164324aa04fb
  DEPS
Labels: none

chore: roll dart to c3ce7094705ca64d573cea48966214f15f91479f
  DEPS
Labels: none

chore: roll dart to 86be823f26b7b6a680be43e8a6f96eac3af32e56
  DEPS
Labels: none

chore: roll dart to feb840571776e4387b1f6cf558d106e6fc4f739a
  DEPS
Labels: none

refactor: squash all of our changes down to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

chore: roll dart to 77aa67d56717d3862d39ec1630b27d831acfaf0a
  DEPS
Labels: none

Roll dart to e743e66a09fde2a7922ac56519155d2a562a5cc9
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

fix: initialize SnapshotsDataHandle current_index_ (#75)
  shell/common/shorebird/snapshots_data_handle.h
Labels: none

chore: roll dart to 041c44649d5d43de8fa01a8d17539d84be69634d
  DEPS
Labels: none

chore: roll dart to a043f468303266c8bc000714a7b6ac9241ce4e1a
  DEPS
Labels: none

chore: roll Dart to 18b474166026f68316962a1fea4ff9280a315b83
  DEPS
Labels: none

chore: roll Dart to 00f223f1b9f8c8c434a6e35d09845096daac0087
  DEPS
Labels: none

chore: bump updater rev to include iOS logging
  DEPS
Labels: none

chore: bump updater rev to include iOS logging (#78)
  DEPS
Labels: none

chore: roll dart to f501c19626adff1a958dff8e5819bbe8b237cb1f
  DEPS
Labels: none

chore: roll dart to bf9675b7632a6b44691de644ffc9a7bc93528b10
  DEPS
Labels: none

refactor: squash all of our changes down to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

chore: bump buildroot to a39f3c1d06d2f2e0afa71e04b78889d250543058
  DEPS
Labels: none

chore: roll dart to fb6c3033f888689ac9e834b6a5d2ad56abce9b0b
  DEPS
Labels: none

chore: fix build
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios

chore: roll dart to db2fb59616d7a014d15e6b7b0ab2d50c5f998c91
  DEPS
Labels: none

chore: bump buildroot to a39f3c1d06d2f2e0afa71e04b78889d250543058
  DEPS
Labels: none

refactor: squash all of our changes down to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

chore: roll dart to db2fb59616d7a014d15e6b7b0ab2d50c5f998c91
  DEPS
Labels: none

chore: roll dart to fb6c3033f888689ac9e834b6a5d2ad56abce9b0b
  DEPS
Labels: none

chore: fix build
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios

chore: roll Dart to 3.3.0
  DEPS
Labels: none

chore: roll dart to fb6c3033f888689ac9e834b6a5d2ad56abce9b0b
  DEPS
Labels: none

chore: roll dart to db2fb59616d7a014d15e6b7b0ab2d50c5f998c91
  DEPS
Labels: none

refactor: squash all of our changes down to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

chore: fix build
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios

chore: bump buildroot to a39f3c1d06d2f2e0afa71e04b78889d250543058
  DEPS
Labels: none

chore: roll Dart to 3.3.0
  DEPS
Labels: none

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*
