Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

Cleanup
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

fix deps
  DEPS
Labels: none

Use correct local appdata path
  shell/common/shell.cc
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

consolidate fetching build number and release version
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

format
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

remove unnecessary pointer
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Introduce ReleaseVersion struct
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

formatting
  shell/common/shorebird/shorebird.cc
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

More formatting
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Comments
  shell/common/shorebird/shorebird.cc
Labels: none

Formatting
  shell/common/shorebird/shorebird.cc
Labels: none

More comments
  shell/platform/embedder/embedder.cc
Labels: none

Formatting
  shell/platform/embedder/embedder.cc
Labels: none

Remove print statements
  shell/common/shorebird/shorebird.cc
Labels: none

Remove comments
  shell/platform/embedder/embedder.cc
Labels: none

Use in-out param for ConfigureShorebird
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

formatting
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

fix deps
  DEPS
Labels: none

Remove extra include of updater.lib
  shell/common/BUILD.gn
Labels: none

Cleanup
  shell/common/shorebird/shorebird.cc
Labels: none

cleanup
  common/config.gni
  shell/common/shell.cc
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Formatting
  shell/common/shorebird/shorebird.cc
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Use ERROR_SUCCESS
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Do not use Error Success
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Add comment
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

GetLocalAppDataPath feedback
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Refactor
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

Windows build (#94)
  DEPS
  common/config.gni
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/embedder/embedder.cc
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

fix: fix flutter_tester build
  shell/common/BUILD.gn
  shell/common/shorebird/BUILD.gn
Labels: none

chore: formatting
  shell/common/BUILD.gn
Labels: none

Move configure shorebird call to platform embedder
  shell/common/shorebird/shorebird.cc
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

cleanup
  shell/platform/embedder/embedder.cc
Labels: none

Cleanup
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/embedder/embedder.h
Labels: none

Trying a different approach
  common/config.gni
  shell/common/shorebird/shorebird.h
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

Logs
  shell/common/shorebird/shorebird.cc
  shell/platform/embedder/embedder.cc
Labels: none

Use SHOREBIRD_USES_MIXED_MODE flag in dart_snapshot
  runtime/dart_snapshot.cc
Labels: none

fix: update how we generate analyze_snapshot (#92)
  lib/snapshot/BUILD.gn
Labels: none

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/windows/platform_handler.cc
  shell/testing/BUILD.gn
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: affects: desktop, platform-android, platform-ios, platform-macos, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*
