Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*

format
  shell/common/shorebird/shorebird.cc
Labels: none

chore: roll Dart to `f1e0dd2d4abd6d85364690b69478db3def378349` (rebase on 3.5.2)
  DEPS
Labels: none

chore: roll Dart to `32df09044d8a3935371caa02707e1b12dcf758e3` (3.5.3)
  DEPS
Labels: none

chore: update list of exported Updater functions (#88)
  shell/platform/android/android_exports.lst
Labels: platform-android

chore: Update engine DEPS for 3.24.5
  DEPS
Labels: none

feat: add macOS support
  shell/common/shorebird/shorebird.cc
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

cleanup
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

formatting
  shell/platform/darwin/macos/BUILD.gn
Labels: affects: desktop, platform-macos

hackity hack hack
  shell/platform/darwin/macos/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

chore: roll dart to `49cb73f9f8616d6628f5c1051a0fa901d9fa7f18` (class table dump)
  DEPS
Labels: none

wip (still not showing up in Console.app)
  shell/common/shorebird/shorebird.cc
Labels: none

chore: roll Dart to `ee6a0e9ee5df26fd74ebdf47f58cda49bf4399f9` (re-add --dump-class-table)
  DEPS
Labels: none

Get patches working
  runtime/dart_snapshot.cc
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

formatting
  shell/platform/darwin/macos/BUILD.gn
Labels: affects: desktop, platform-macos

cleanup
  runtime/dart_snapshot.cc
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

cleanup
  runtime/dart_snapshot.cc
  shell/platform/embedder/embedder.cc
Labels: none

cleanup
  shell/common/shorebird/shorebird.cc
  shell/platform/darwin/macos/framework/Source/FlutterDartProject.mm
Labels: affects: desktop, platform-macos

cleanup
  shell/platform/darwin/macos/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

add comments
  shell/platform/embedder/embedder.h
Labels: none

link dart elf_loader in flutter_tester
  shell/testing/BUILD.gn
Labels: none

include updater lib when compiling for macos to make flutter_tester build
  shell/common/BUILD.gn
Labels: none

formatting
  shell/common/BUILD.gn
Labels: none

formatting
  shell/common/BUILD.gn
Labels: none

formatting
  shell/common/BUILD.gn
Labels: none

remove unnecessary imports
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
Labels: none

remove unnecessary imports
  shell/common/shorebird/shorebird.cc
Labels: none

remove unnecessary imports
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

cleanup
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

cleanup
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

cleanup
  shell/platform/darwin/macos/BUILD.gn
Labels: affects: desktop, platform-macos

cleanup and comments
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

chore: roll Dart to `cd1bb00f31ff1bedb8eb45795b434f599f145c7e` (cp class_table debug)
  DEPS
Labels: none

split shorebird flutter project args into separate struct
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

fix build
  shell/common/shorebird/BUILD.gn
Labels: none

fix formatting
  shell/common/shorebird/BUILD.gn
Labels: none

fix cache path
  shell/common/shorebird/shorebird.cc
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll Dart to `fb3af0addcfa5a6e01d86b486817ab0bda5379c3` (sort new cid range)
  DEPS
Labels: none

chore: bump dart rev
  DEPS
Labels: none

feat: macOS support (#89)
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/testing/BUILD.gn
Labels: affects: desktop, platform-macos
