Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

Windows build (#94)
  DEPS
  common/config.gni
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/embedder/embedder.cc
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows_engine.cc
Labels: affects: desktop, platform-windows

chore: formatting
  shell/common/BUILD.gn
Labels: none

formatting
  lib/snapshot/BUILD.gn
Labels: none

chore: export `shorebird_check_for_update` for android
  shell/platform/android/android_exports.lst
Labels: platform-android

chore: bump updater rev
  DEPS
Labels: none

chore: roll updater to `54e1e2ce2f82e5fe004bd0730c00d4310ab637dc` (re-export shorebird_check_for_update)
  DEPS
Labels: none

fix: generate analyze snapshot for arm builds
  lib/snapshot/BUILD.gn
Labels: none

fix: use shorebird buildroot
  DEPS
Labels: none

fix: fix flutter_tester build
  shell/common/BUILD.gn
  shell/common/shorebird/BUILD.gn
Labels: none

fix: remove flutter/fml/size include
  shell/common/shorebird/shorebird.cc
Labels: none

chore: roll Dart to 3.6.1
  DEPS
Labels: none

feat: support intel macs
  common/config.gni
  runtime/dart_snapshot.cc
  shell/common/shorebird/shorebird.cc
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.cc
Labels: affects: desktop, platform-macos

formatting
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

formatting
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

don't use linker on macos
  common/config.gni
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

cleanup
  shell/common/shorebird/shorebird.cc
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

formatting
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: affects: desktop, platform-macos

bump updater rev
  DEPS
Labels: none

SHOREBIRD_USE_LINKER -> SHOREBIRD_USE_INTERPRETER
  common/config.gni
  runtime/dart_snapshot.cc
  shell/common/shorebird/shorebird.cc
Labels: none

feat: use windows method for loading patches on intel macs (#96)
  DEPS
  common/config.gni
  runtime/dart_snapshot.cc
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: affects: desktop, platform-macos

bump updater rev
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

Add shorebird support to x64 Linux targets
  shell/common/BUILD.gn
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

formatting
  shell/common/BUILD.gn
Labels: none

read app id and version from files
  common/config.gni
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

Cleanup
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

Cleanup
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

add comment
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

Add Shorebird support for x64 Linux targets (#97)
  common/config.gni
  shell/common/BUILD.gn
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, platform-linux

bump updater rev
  DEPS
Labels: none

Move updater from third_party to flutter/third_party
  DEPS
  shell/common/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

Formatting
  shell/common/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

Fix gn
  shell/common/BUILD.gn
Labels: none

Expose updater symbols in flutter_windows.dll
  common/exported_symbols.sym
  common/exported_symbols_mac.sym
  common/exported_test_symbols.sym
  common/exported_test_symbols_mac.sym
  shell/common/BUILD.gn
  shell/common/shorebird/BUILD.gn
  shell/platform/embedder/embedder_exports.lst
  shell/platform/windows/BUILD.gn
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/BUILD.gn
Labels: affects: desktop, platform-windows

Move updater from `third_party` to `flutter/third_party` (#98)
  DEPS
  shell/common/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

Bump updater rev
  DEPS
Labels: none

Add def file for exported updater symbols
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows.dll.def
Labels: affects: desktop, platform-windows

Formatting
  shell/platform/windows/BUILD.gn
Labels: affects: desktop, platform-windows

Expose updater symbols in flutter_windows.dll (#100)
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows.dll.def
Labels: affects: desktop, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*
