Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*

chore: fix build
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios

chore: Update engine DEPS for 3.19.6
  DEPS
Labels: none

chore: roll dart to e34d203752a953624bd001ae59c79e234e45d428 to fix crash in ResumeOnCPU
  DEPS
Labels: none

chore: remove use of `Build.VERSION_CODES`
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
Labels: platform-android

chore: roll buildroot to `cd6a25e019dbe70e89e27377bd4d6483ad6b69d6` (fix libunwind)
  DEPS
Labels: none

chore: Update engine DEPS for 3.19.6
  DEPS
Labels: none

chore: roll dart to `0193ab2548c18ab1782cbb5c6786af792879eaf1` (improve class table link %)
  DEPS
Labels: none

chore: roll Dart to c2bbde164a41aa7b928986dff093ac2ddfbe10e2 to include --version on aot_tools
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: roll Dart to `4296c6d3e9296a6e171ef069b9772335660305e7` (object pool voting algorithm)
  DEPS
Labels: none

update readme
  README.md
Labels: none

chore: roll Dart to `5dfe5c9b085b17ee02c74191761bc9c8661c70d7` (enable disassembler)
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll Dart to `236b0ae08ee841940ab1d79f22444fee24c14d9d` (fix: copy wide arg registers)
  DEPS
Labels: none

chore: roll Dart to `8418f29547f68f7a3045b48ca057af70324e9b7c` (fix try/catch)
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll dart to `eafddf212a5de012418d34c65739b44aa0adb1fd` (fix linux builds)
  DEPS
Labels: none

chore: roll Dart to 52cb241583210596a120ff6ab2311827e792b1e2 to fix sync* performance
  DEPS
Labels: none

chore: remove use of `Build.VERSION_CODES`
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
Labels: platform-android

chore: roll Dart to `037420eec93677257709d1ae620b89ef65c0b294` (async ffi)
  DEPS
Labels: none

chore: roll dart to db2fb59616d7a014d15e6b7b0ab2d50c5f998c91
  DEPS
Labels: none

chore: roll dart to 71b7b3814d88cdcbdae97ffb6b9acc0f476e9005 to fix 32-bit Android
  DEPS
Labels: none

chore: roll Dart to 3.3.0
  DEPS
Labels: none

chore: remove print of current patch number (#81)
  shell/common/shorebird/shorebird.cc
Labels: none

roll Dart to `82fb13d1290f5737dc001ccae77b9747bae3323a` (re-enable GDT sort)
  DEPS
Labels: none

chore: roll dart to `cd61a3f0d7d550a8425b3b33ad31d1888f138118` (fix mach-o loader)
  DEPS
Labels: none

chore: roll dart to fb6c3033f888689ac9e834b6a5d2ad56abce9b0b
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: Update engine DEPS for 3.19.6
  DEPS
Labels: none

chore: roll Dart to `994836e2a5bd9f00abcca13c8484d31fa8e30acc` (re-enable inlining)
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: roll Dart to `52c136a763e85ed6342a7e2341054537ac2fb632`
  DEPS
Labels: none

chore: roll dart to e9c2d0234f8ca6111667fa87b62354022a9da269 to fix ResumeOnCPU crash
  DEPS
Labels: none

chore: roll buildroot to `cd6a25e019dbe70e89e27377bd4d6483ad6b69d6` (fix libunwind)
  DEPS
Labels: none

chore: Update engine DEPS for 3.19.6
  DEPS
Labels: none

chore: roll Dart to `4296c6d3e9296a6e171ef069b9772335660305e7` (object pool voting algorithm)
  DEPS
Labels: none
