Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

chore: roll to Flutter 3.24.1 and Dart 3.5.1
  DEPS
Labels: none

chore: roll Dart to `f1e0dd2d4abd6d85364690b69478db3def378349` (rebase on 3.5.2)
  DEPS
Labels: none

chore: roll Dart to `416581a64b8139d4c881f684d5540b199a63f5ff` (exclude static field load from op_subgraph_hash)
  DEPS
Labels: none

chore: roll Dart to `bddad43ca1adc0b6a581791df0a04885ef75342d` (Dart 3.5.1)
  DEPS
Labels: none

fix: don't proceed with ConfigureShorebird if init fails (#87)
  shell/common/shorebird/shorebird.cc
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll Dart to `3a5cce18623cf2f81693de414da966bd44999e9c` (3.5.0)
  DEPS
Labels: none

Update for new dart checkout location
  BUILD.gn
  lib/snapshot/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

chore: roll Dart to `32df09044d8a3935371caa02707e1b12dcf758e3` (3.5.3)
  DEPS
Labels: none

chore: roll Dart to `ca1b69524915025f8cccbbf515451f7a6e58e8fb` (improve aot_tools error reporting)
  DEPS
Labels: none

chore: bump updater rev
  DEPS
Labels: none

Update for new dart checkout location
  BUILD.gn
  lib/snapshot/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

fix ios build
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: platform-ios

chore: roll Dart to `32df09044d8a3935371caa02707e1b12dcf758e3` (3.5.3)
  DEPS
Labels: none

fix: don't proceed with ConfigureShorebird if init fails (#87)
  shell/common/shorebird/shorebird.cc
Labels: none

chore: bump updater rev
  DEPS
Labels: none

chore: roll Dart to `416581a64b8139d4c881f684d5540b199a63f5ff` (exclude static field load from op_subgraph_hash)
  DEPS
Labels: none

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  ci/bin/format.dart
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

chore: roll to Flutter 3.24.1 and Dart 3.5.1
  DEPS
Labels: none

chore: roll Dart to `ca1b69524915025f8cccbbf515451f7a6e58e8fb` (improve aot_tools error reporting)
  DEPS
Labels: none

chore: roll Dart to `3a5cce18623cf2f81693de414da966bd44999e9c` (3.5.0)
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

format
  shell/common/shorebird/shorebird.cc
Labels: none

chore: roll Dart to `bddad43ca1adc0b6a581791df0a04885ef75342d` (Dart 3.5.1)
  DEPS
Labels: none

chore: roll Dart to `f1e0dd2d4abd6d85364690b69478db3def378349` (rebase on 3.5.2)
  DEPS
Labels: none

chore: roll Dart to `9aca0e2a2a9d7c6379f532c35a22fbd95efe9e7d` (ffi memory optimizations)
  DEPS
Labels: none

chore: roll Dart to b3655c25683f0592d8fa25193ebf0cd89ec020f0 (3.5.4)
  DEPS
Labels: none

Bump updater rev
  DEPS
Labels: none

Bump updater rev
  DEPS
Labels: none

chore: roll updater to `6f1be35bd3f9830817880cbeed391173154e5e89` (2.0.0-dev.1)
  DEPS
Labels: none

chore: update list of exported Updater functions
  shell/platform/android/android_exports.lst
Labels: platform-android

chore: bump updater rev
  DEPS
Labels: none

chore: bump updater rev
  DEPS
Labels: none

Update for new dart checkout location
  BUILD.gn
  lib/snapshot/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-android, platform-ios

chore: squash all our changes to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  ci/bin/format.dart
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

fix ios build
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: platform-ios

chore: roll Dart to `3a5cce18623cf2f81693de414da966bd44999e9c` (3.5.0)
  DEPS
Labels: none

chore: roll Dart to `416581a64b8139d4c881f684d5540b199a63f5ff` (exclude static field load from op_subgraph_hash)
  DEPS
Labels: none

chore: roll to Flutter 3.24.1 and Dart 3.5.1
  DEPS
Labels: none

fix: don't proceed with ConfigureShorebird if init fails (#87)
  shell/common/shorebird/shorebird.cc
Labels: none

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*
