Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*

chore: roll dart to `5243afd29f608888aaaf97e269fd88c3f2e40399` (fix class table sort crashes in Flutter)
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll Dart to d1e8b6b54fd18ae0ac1e070fab77616e30c54733 to include object pool sorting and branch tracing
  DEPS
Labels: none

chore: roll dart to `5f1d8ba3cfd676afbed564b367f2b7732d6fdef0` (fix LinkTable alignment)
  DEPS
Labels: none

chore: roll Dart to `97dab14644ed42e993163086670d1ad845c66e1a` (no_pp_hash excludes GDT calls)
  DEPS
Labels: none

refactor: squash all of our changes down to a single commit
  BUILD.gn
  DEPS
  build/archives/BUILD.gn
  lib/snapshot/BUILD.gn
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/common/shell.cc
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.cc
  shell/common/shorebird/snapshots_data_handle.h
  shell/common/shorebird/snapshots_data_handle_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/android_exports.lst
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  sky/tools/create_full_ios_framework.py
  testing/run_tests.py
Labels: platform-android, platform-ios

chore: roll Dart to `ef5ff5a9fdf6addd06db68215f2b3ef343cd8cfd` (Sort GDT)
  DEPS
Labels: none

chore: roll dart to 416086f9f79b25025a5234ec87069c0098179dde to fix 32-bit builds
  DEPS
Labels: none

chore: Update engine DEPS for 3.19.5
  DEPS
Labels: none

chore: roll Dart to 00c2cd2feb94f3d67584a12a0524d5b32590ce41 to include CanonicalPc crash fix
  DEPS
Labels: none

chore: roll dart to b2101445859a4f0ee60e5c3c239306d5002c9501 to fix linux build
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none

chore: roll Dart to `19fae53347877ae1096ac995dc5d3648e479f18f` (Sort GDT)
  DEPS
Labels: none

chore: roll dart to c5ca482a1b8ee0d66a81a2e7c07075e272e88191 to fix windows build
  DEPS
Labels: none

chore: bump buildroot and dart revision for 3.22.0
  BUILD.gn
  DEPS
  lib/snapshot/BUILD.gn
  shell/common/shorebird/shorebird.h
  shell/common/shorebird/snapshots_data_handle.h
  sky/tools/create_full_ios_framework.py
Labels: none

chore: roll Dart to c2bbde164a41aa7b928986dff093ac2ddfbe10e2 to include --version on aot_tools
  DEPS
Labels: none

chore: roll dart to `fd095daee8511b98bf2ae1ecab9e187c30401b7c` (fix invalid sdk hash)
  DEPS
Labels: none

chore: roll dart to e8bbbd3fdd562a9a25572d1280608ca66998e392 to fix windows build
  DEPS
Labels: none

Bump updater rev (don't hold config lock during patch check request)
  DEPS
Labels: none

chore: roll Dart to `15df6556658ad28124e9876d34720b704dc7bb99` (align GDT)
  DEPS
Labels: none

chore: Update engine DEPS for 3.19.3
  DEPS
Labels: none

chore: bump buildroot to a39f3c1d06d2f2e0afa71e04b78889d250543058
  DEPS
Labels: none

chore: roll dart to `0193ab2548c18ab1782cbb5c6786af792879eaf1` (improve class table link %)
  DEPS
Labels: none

chore: roll Dart to include SwitchableCallMiss crash fix
  DEPS
Labels: none

chore: roll dart to `c3b59ba47be2f933142d0e7685de0a464fffbbe9` (fix: adjust gen_snapshot to include full class table size)
  DEPS
Labels: none

chore: roll dart to e34d203752a953624bd001ae59c79e234e45d428 to fix crash in ResumeOnCPU
  DEPS
Labels: none

chore: roll dart to `37268f47b24dde4b87659c1eeeff4c0b613e2175` (fix pp hash index accumulation and `CatchEntryMove`)
  DEPS
Labels: none

chore: roll Dart to bb94c346e8bd5b5a0a83b224804f01ab0b4f0701 to fix --version always printing
  DEPS
Labels: none

chore: roll Dart to `32785f7f9b3df004c266fcb6d6e12e1f24b4b6fb` (revert GDT alignment)
  DEPS
Labels: none

chore: roll dart to `1a58aa7222f852a816f72eca636757a3fb0f65f9` (fix release perf regression)
  DEPS
Labels: none

chore: fix build
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios

chore: Update engine DEPS for 3.19.4
  DEPS
Labels: none

chore: Update engine DEPS for 3.22.1
  DEPS
Labels: none

chore: roll dart to fa38232680ddaa4867358f74ef0b9d01b1c050c9 for aot_tools fixes
  DEPS
Labels: none

chore: roll Dart to `161cda109467ce5d97f8b3380ed80dacc4b6c24a` (GDT alignment)
  DEPS
Labels: none

chore: roll Dart to `5dfe5c9b085b17ee02c74191761bc9c8661c70d7` (enable disassembler)
  DEPS
Labels: none

chore: roll Dart to `9ba6ce566336bea9a21e693ac49d9f1a83341346` (3.4.4)
  DEPS
Labels: none

Bump updater rev to include rollback support
  DEPS
Labels: none

chore: roll Dart to `e57beed1f3aed051201145f63c4163295862b4e5` (fix no_pp_hash mismatches)
  DEPS
Labels: none

bump updater rev
  DEPS
Labels: none
