Repository shorebirdtech/engine, changes with the labels that .github/labeler.yml gives for each.
All labels: affects: desktop, embedder, e: impeller, platform-android, platform-ios, platform-fuchsia, platform-linux, platform-macos, platform-web, platform-windows

chore: bump dart rev
  DEPS
Labels: none

chore: bump dart rev (#66)
  DEPS
Labels: none

chore: roll Dart
  DEPS
Labels: none

fix: shorebird launch reporting
  shell/common/shell.cc
Labels: none

remove logging
  shell/common/shell.cc
Labels: none

fix: shorebird launch reporting (#67)
  shell/common/shell.cc
Labels: none

chore: roll dart
  DEPS
Labels: none

chore: roll dart
  DEPS
Labels: none

fix: assert when running in Debug instead of Release scheme in XCode
  shell/common/shorebird.cc
Labels: none

remove whitespace
  shell/common/shorebird.cc
Labels: none

fix: `assert` when running with `Debug` instead of `Release` scheme in `XCode` (#68)
  shell/common/shorebird.cc
Labels: none

chore: roll dart
  DEPS
Labels: none

fix: use FML_CHECK instead of assert so it works in release builds
  shell/common/shorebird.cc
Labels: none

chore: roll Dart revision
  DEPS
Labels: none

feat: add a shorebird_tester target
  shell/testing/BUILD.gn
Labels: none

attempt to support aot
  shell/testing/tester_main.cc
Labels: none

fix formatting
  shell/testing/BUILD.gn
Labels: none

fix formatting
  shell/testing/tester_main.cc
Labels: none

closer
  runtime/dart_snapshot.cc
  shell/common/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
  shell/testing/BUILD.gn
Labels: platform-android, platform-ios

fix formatting
  shell/testing/BUILD.gn
Labels: none

Only expose shorebird_tester for arm64
  shell/testing/BUILD.gn
Labels: none

chore: roll dart
  DEPS
Labels: none

chore: roll dart to 2033f5024756a59753a83ce4310ec27d6a273f40
  DEPS
Labels: none

Roll to Flutter 3.16.5 (#70)
  BUILD.gn
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas_unittests.cc
  impeller/aiks/paint_pass_delegate.cc
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/entity.cc
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
  impeller/entity/entity_unittests.cc
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/availability_version_check.cc
  shell/platform/darwin/common/availability_version_check.h
  shell/platform/darwin/common/availability_version_check_unittests.cc
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/availability_version_check_test.mm
  testing/run_tests.py
  testing/scenario_app/lib/src/platform_view.dart
Labels: affects: desktop, e: impeller, platform-ios, platform-macos

chore: roll updater to c6f8b2933e1110750ad40669194c39df1f76eb98
  DEPS
Labels: none

provide snapshot reader to rust
  shell/common/shorebird.cc
Labels: none

chore: roll Dart to ef4fcce6951ebec5d06249b07a131fa6a4ec21c1
  DEPS
Labels: none

chore: roll updater to c6f8b2933e1110750ad40669194c39df1f76eb98 (#71)
  DEPS
Labels: none

chore: Roll Dart to fa12f3edd1e6f024d656a1db377dc6c446df3d1b
  DEPS
Labels: none

cleanup
  shell/common/shorebird.cc
Labels: none

delete commented out code
  shell/common/shorebird.cc
Labels: none

improve comments
  shell/common/shorebird.cc
Labels: none

chore: roll Dart to 95734c388099908b64c6071b44c372237ebb9f5a
  DEPS
Labels: none

chore: roll Dart to e776bdde66b880b34085cb9185cce8d79e4934bb
  DEPS
Labels: none

Use Dart_SnapshotInstrSize instead of Dart_SnapshotDataSize when getting instruction section mapping
  shell/common/shorebird.cc
Labels: none

Improve blobs offset logic
  shell/common/shorebird.cc
Labels: none

chore: roll dart to b98eec5988f2eeb9afafdacf51de2a5f3f24be21
  DEPS
Labels: none

Reorganize shorebird into separate directory, add blobs handle tests
  BUILD.gn
  shell/common/shorebird.h
  shell/common/shorebird/BUILD.gn
  shell/common/shorebird/blobs_handle.cc
  shell/common/shorebird/blobs_handle.h
  shell/common/shorebird/blobs_handle_unittests.cc
  shell/common/shorebird/shorebird.cc
  shell/common/shorebird/shorebird.h
  shell/platform/android/BUILD.gn
  shell/platform/android/flutter_main.cc
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: platform-android, platform-ios

run test as part of engine
  shell/common/shorebird/blobs_handle_unittests.cc
  testing/run_tests.py
Labels: none

Roll dart to 9d88196bc6873484acd87765f62b351f32830cbc
  DEPS
Labels: none

.github/labeler.yml:

# Copyright 2013 The Flutter Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See https://github.com/actions/labeler/blob/main/README.md for docs.
'affects: desktop':
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*
  - shell/platform/linux/**/*
  - shell/platform/windows/**/*

embedder:
  - shell/platform/embedder

'e: impeller':
  - impeller/**/*

platform-android:
  - shell/platform/android/**/*

platform-ios:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/ios/**/*

platform-fuchsia:
  - shell/platform/fuchsia/**/*

platform-linux:
  - shell/platform/linux/**/*

platform-macos:
  - shell/platform/darwin/common/**/*
  - shell/platform/darwin/macos/**/*

platform-web:
  - lib/web_ui/**/*
  - '**/web_sdk/**/*'

platform-windows:
  - shell/platform/windows/**/*
